<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>productName</param-name>
    <param-value>My super log</param-value>
  </context-param>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.aptech.MainServlet</servlet-class>
  </servlet>
  <listener>
    <listener-class>com.aptech.listeners.SimpleListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.aptech.listeners.AppInitialListener</listener-class>
  </listener>
  <listener>
    <description>Initial Log4j 2.x</description>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <distributable/>

</web-app>